In [1]:
import pandas as pd
import string

In [2]:
lines = []
with open('hw1_word_counts_05-1.txt', 'r') as file:
    for line in file:
        lines.append(line.strip())

In [3]:
word = []
number = []
for i in range(len(lines)):
    word.append(lines[i].split()[0])
    number.append(int(lines[i].split()[1]))

In [4]:
df = list(zip(word, number))

In [5]:
df = pd.DataFrame({'Word':word, 'Frequency':number})

In [6]:
df

       Word  Frequency
0     AARON        413
1     ABABA        199
2     ABACK         64
3     ABATE         69
4     ABBAS        290
...     ...        ...
6530  ZVIAD         30
6531  ZWEIG         44
6532  ZWICK         34
6533  ZYCIE         14
6534  ZYMAN         16

[6535 rows x 2 columns]

In [7]:
df_increasing = df.sort_values(by='Frequency', ascending=False).reset_index()

In [8]:
df_increasing

      index   Word  Frequency
0      5821  THREE     273077
1      5102  SEVEN     178842
2      1684  EIGHT     165764
3      6403  WOULD     159875
4        18  ABOUT     157448
...     ...    ...        ...
6530   3554  MAPCO          6
6531    895  CAIXA          6
6532   4160  OTTIS          6
6533   5985  TROUP          6
6534    712  BOSAK          6

[6535 rows x 3 columns]

In [9]:
for i in range(15):
    print(str(i+1)+")", df_increasing['Word'][i], df_increasing['Frequency'][i]/sum(df['Frequency']))

1) THREE 0.03562714868653127
2) SEVEN 0.023332724928853858
3) EIGHT 0.021626496097709325
4) WOULD 0.02085818430793947
5) ABOUT 0.020541544349751077
6) THEIR 0.018974130893766185
7) WHICH 0.018545160072784138
8) AFTER 0.01436452108630337
9) FIRST 0.014345603577470525
10) FIFTY 0.013942725872119989
11) OTHER 0.013836135494765265
12) FORTY 0.012387837111638222
13) YEARS 0.011598389898206841
14) THERE 0.01128553344178502
15) SIXTY 0.009535207245223231

In [10]:
df_decreasing = df.sort_values(by='Frequency', ascending=True).reset_index()

In [11]:
df_decreasing

      index   Word  Frequency
0      3554  MAPCO          6
1       712  BOSAK          6
2       895  CAIXA          6
3      4160  OTTIS          6
4      5985  TROUP          6
...     ...    ...        ...
6530     18  ABOUT     157448
6531   6403  WOULD     159875
6532   1684  EIGHT     165764
6533   5102  SEVEN     178842
6534   5821  THREE     273077

[6535 rows x 3 columns]

In [12]:
for i in range(14):
    print(str(i+1)+")", df_decreasing['Word'][i], df_decreasing['Frequency'][i]/sum(df_decreasing['Frequency']))

1) MAPCO 7.827934689453437e-07
2) BOSAK 7.827934689453437e-07
3) CAIXA 7.827934689453437e-07
4) OTTIS 7.827934689453437e-07
5) TROUP 7.827934689453437e-07
6) CLEFT 9.13259047102901e-07
7) FOAMY 9.13259047102901e-07
8) CCAIR 9.13259047102901e-07
9) SERNA 9.13259047102901e-07
10) YALOM 9.13259047102901e-07
11) TOCOR 9.13259047102901e-07
12) NIAID 9.13259047102901e-07
13) PAXON 9.13259047102901e-07
14) FABRI 9.13259047102901e-07

The above was for part a. Below this will be part b.

In [13]:
prior_arr = []
for i in range(len(number)):
    total_freq = sum(number)
    prior_arr.append(number[i] / total_freq)

In [14]:
def filter_words(c, correct, incorrect):
    word_validity = []
    present_positions = [pos for _, pos in correct]

    for i in range(len(word)):
        w = word[i]
        valid = True
        
        if any(absent in w for absent in incorrect):
            word_validity.append(0)
            continue
        
        for char, pos in correct:
            if w[pos] != char or w[:pos].count(char) > 0 or w[pos+1:].count(char) > 0:
                valid = False
                break

        if valid and (c is None or (c in w and i not in present_positions)):
            word_validity.append(1)
        else:
            word_validity.append(0)

    return word_validity

In [15]:
def calculate_probability(l, correct, incorrect):
    word_validity = filter_words(None, correct, incorrect)
    letter_validity = filter_words(l, correct, incorrect)

    total_valid_prob = sum([word_validity[i] * prior_arr[i] for i in range(len(word))])

    if total_valid_prob == 0:
        return 0

    word_probabilities = [word_validity[i] * prior_arr[i] / total_valid_prob for i in range(len(word))]
    letter_prob = sum([letter_validity[i] * word_probabilities[i] for i in range(len(word))])

    return letter_prob

In [16]:
def find_next_letter(correct, incorrect):
    max_prob = 0
    next_letter = None
    present_chars = [char for char, _ in correct]
    letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    for char in letters:
        if char not in present_chars:
            prob = calculate_probability(char, correct, incorrect)

            if prob > max_prob:
                max_prob = prob
                next_letter = char

    return next_letter

In [17]:
correct = []
incorrect = []
print(find_next_letter(correct, incorrect))
print(calculate_probability(find_next_letter(correct, incorrect), correct, incorrect))

E
0.5394172389647974

In [18]:
correct = []
incorrect = ['E','A']
print(find_next_letter(correct, incorrect))
print(calculate_probability(find_next_letter(correct, incorrect), correct, incorrect))

O
0.5340315651557657

In [19]:
correct = [('A',0), ('S',4)]
incorrect = []
print(find_next_letter(correct, incorrect))
print(calculate_probability(find_next_letter(correct, incorrect), correct, incorrect))

E
0.7715371621621622

In [20]:
correct = [('A',0), ('S',4)]
incorrect = ['I']
print(find_next_letter(correct, incorrect))
print(calculate_probability(find_next_letter(correct, incorrect), correct, incorrect))

E
0.7127008416220353

In [21]:
correct = [('O',2)]
incorrect = ['A','E','M','N','T']
print(find_next_letter(correct, incorrect))
print(calculate_probability(find_next_letter(correct, incorrect), correct, incorrect))

R
0.7453866259829712

In [22]:
correct = []
incorrect = ['E','O']
print(find_next_letter(correct, incorrect))
print(calculate_probability(find_next_letter(correct, incorrect), correct, incorrect))

I
0.6365554141009611

In [23]:
correct = [('D',0),('I',3)]
incorrect = []
print(find_next_letter(correct, incorrect))
print(calculate_probability(find_next_letter(correct, incorrect), correct, incorrect))

A
0.8206845238095238

In [24]:
correct = [('D',0),('I',3)]
incorrect = ['A']
print(find_next_letter(correct, incorrect))
print(calculate_probability(find_next_letter(correct, incorrect), correct, incorrect))

E
0.7520746887966805

In [25]:
correct = [('U',1)]
incorrect = ['A','E','I','O','S']
print(find_next_letter(correct, incorrect))
print(calculate_probability(find_next_letter(correct, incorrect), correct, incorrect))

Y
0.626965110163053